
header p{
    margin-top:0px;
    float:right;
}
#main-quiz{
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

#startbutton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
}

.answers button{
    margin-top: 20px;
    width: 20%;
    padding: 10px;
    margin-left:40%;
    border: 3px solid black;
}

li {
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: 40%;
    font-size: 18px;
    color: white;
    text-align: center;
}
#wrongRight{
    margin: auto;
    text-align: center;
    font-size: 32px;
}
#info{
    /* margin:auto; */
    text-align: center;
    font-size: 48px;
}
.highscores{
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.highscores-list{
    margin-top: 0px;
    width: 20%;
    padding: 10px;
    margin-left:40%;
    font-size: 30px;
    
}
.hide {
    display:none;
}

/* ul{
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
    font-size: 18px;
    color: white;
    text-align: center;
} */
#clear{
    margin: auto;
}
.endgame{
    align-items: center;
}